<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>DOMUS</title>
  <link rel='stylesheet' href='/stylesheets/style-home.css' />
</head>
<body>

  

  <div class="header">
    <div class="title">
      <h1>DOMUS</h1>
    </div>  
  </div>  
  <div class="nav-bar">
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/prenota">Prenota</a></li>
    </ul>
  </div>

  
  <div class="content">
    <div class="image">
      <img src="images\ristorante7.jpg" alt="resturant" id="image-id" style="margin-top: -10vw;">
    </div>
    <div class="table">
      <div class="table-box">
        <div class="box-content">
          <div class="box-title">          
            <h1>RISTORANTE</h1>
          </div>
          <div class="box-text">
            <p style="margin-bottom: 5.6%;">
              L'orto, integrato nel contesto del ristorante, ha l'intento di sottolineare l'importanza del rispetto per la
              natura, offrendo al cliente un'esperienza che stimola la riflessione sulla sostenibilità e sull'autosufficienza
              alimentare. Questo elemento distintivo non solo arricchisce l'ambiente, ma rappresenta un costante
              richiamo alla necessità di preservare le risorse naturali e promuovere una cucina attenta all'ambiente.</p>
              <p>L'allevamento di animali, situato nelle immediate vicinanze del ristorante, segue i principi del km 0 e
              garantisce un approccio sostenibile e responsabile. Gli animali sono allevati all'aperto, in un ambiente
              naturale che favorisce il loro benessere, assicurando al contempo la qualità e la freschezza dei prodotti
              offerti. Questo metodo di allevamento rispetta rigorosamente i cicli naturali, contribuendo a una filiera
              corta e a un consumo consapevole.
            </p>
          </div>
        </div>
      </div>
      <div class="table-box">
        <div class="box-content">
          <div class="box-title">          
            <h1>MATERIALI e SOSTENIBILITA</h1>
          </div>
            <div class="box-text">
              <p>
                Il ristorante utilizza materiali riciclati come legno, vetro, riciclo dell’acqua dei rubinetti usata per annaffiare
                l’orto, pannelli solari, sistema ottimizzazione ed efficienza energetica (Un sistema di ottimizzazione ed
                efficienza energetica mira a ridurre il consumo di energia e i costi, migliorando al contempo l'impatto
                ambientale. Utilizza tecnologie come il monitoraggio in tempo reale, l'automazione, le energie rinnovabili e
                l'intelligenza artificiale per ottimizzare l'uso dell'energia in modo intelligente e sostenibile.)
                <h1>Compostaggio:</h1>
                Le feci di animali, come quelle di bovini, ovini, caprini o conigli, possono essere mescolate con altri materiali
                organici (come paglia, foglie secche, scarti di cucina) per creare un compost. Il processo di compostaggio,
                che può richiedere diversi mesi, trasforma le feci in un fertilizzante ricco di nutrienti per il terreno 
              </p>
            </div>
          </div>
        </div>
      </div>      
    </div>
    <div class="image" id="image2">
      <img src="images\ristorante1.jpg" alt="resturant" id="image-2-id">
    </div>

    <div class="table">
      <div class="table-box">
        <div class="box-content">
          <div class="box-title">          
            <h1>RISTORANTE</h1>
          </div>
          <div class="box-text">
            <p style="margin-bottom: 5.6%;">
              L'orto, integrato nel contesto del ristorante, ha l'intento di sottolineare l'importanza del rispetto per la
              natura, offrendo al cliente un'esperienza che stimola la riflessione sulla sostenibilità e sull'autosufficienza
              alimentare. Questo elemento distintivo non solo arricchisce l'ambiente, ma rappresenta un costante
              richiamo alla necessità di preservare le risorse naturali e promuovere una cucina attenta all'ambiente.</p>
              <p>L'allevamento di animali, situato nelle immediate vicinanze del ristorante, segue i principi del km 0 e
              garantisce un approccio sostenibile e responsabile. Gli animali sono allevati all'aperto, in un ambiente
              naturale che favorisce il loro benessere, assicurando al contempo la qualità e la freschezza dei prodotti
              offerti. Questo metodo di allevamento rispetta rigorosamente i cicli naturali, contribuendo a una filiera
              corta e a un consumo consapevole.
            </p>
          </div>
        </div>
      </div>
      <div class="table-box">
        <div class="box-content">
          <div class="box-title">          
            <h1>MATERIALI e SOSTENIBILITA</h1>
          </div>
            <div class="box-text">
              <p>
                Il ristorante utilizza materiali riciclati come legno, vetro, riciclo dell’acqua dei rubinetti usata per annaffiare
                l’orto, pannelli solari, sistema ottimizzazione ed efficienza energetica (Un sistema di ottimizzazione ed
                efficienza energetica mira a ridurre il consumo di energia e i costi, migliorando al contempo l'impatto
                ambientale. Utilizza tecnologie come il monitoraggio in tempo reale, l'automazione, le energie rinnovabili e
                l'intelligenza artificiale per ottimizzare l'uso dell'energia in modo intelligente e sostenibile.)
                <h1>Compostaggio:</h1>
                Le feci di animali, come quelle di bovini, ovini, caprini o conigli, possono essere mescolate con altri materiali
                organici (come paglia, foglie secche, scarti di cucina) per creare un compost. Il processo di compostaggio,
                che può richiedere diversi mesi, trasforma le feci in un fertilizzante ricco di nutrienti per il terreno 
              </p>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>


<div class="footer">
  <div class="logo">
    <img src="images\logo.png" alt="DOMUS">
  </div>
</div>

<script>

  /*
  const obj = { value: 0 };
  let i=1;
  let j=7;

  setInterval(() => {
    i++;
    if(i==6){
      i=1;
    }
    j++;
    if(j==9){
      j=7;
    }
  
    document.querySelector("#image-2-id").setAttribute("src", "images\\ristorante"+i+".jpg");
    document.querySelector("#image-id").setAttribute("src", "images\\ristorante"+j+".jpg");
    console.log(obj);
  }, 10000); 
  ciao;
*/
</script>

</body>
</html>
