<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>DOMUS</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <div class="header">
    <div class="title">
      <h1>DOMUS</h1>
    </div>
  </div>

  <div class="content">
    <div class="gallery-container">
      <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
      <div class="gallery">
        <img src="/images/ristorante.jpg" alt="Immagine 1" id="active">
        <img src="/images/orto.jpg" alt="Immagine 2" id="nonActive">
        <img src="/images/ristorante.jpg" alt="Immagine 3" id="nonActive">
        <img src="/images/orto.jpg" alt="Immagine 4" id="nonActive">
        <img src="/images/ristorante.jpg" alt="Immagine 5" id="nonActive">
        <img src="/images/orto.jpg" alt="Immagine 6" id="nonActive">
      </div>
      <button class="next" onclick="moveSlide(1)">&#10095;</button>
    </div>
    <div class="table">
      <div class="resturant-idea">
        <h1>Idea del ristorante</h1>
      </div>
      <div class="menu">
        <h1>Menù stagionale</h1>
      </div>
    </div>
  </div>

<script>

let currentIndex = 0;

function moveSlide(direction) {
  const width=window.innerWidth;
  const images = document.querySelectorAll('.gallery img');
  const totalImages = images.length;
  
  currentIndex = (currentIndex + direction + totalImages) % totalImages;

  images.forEach((img) => img.classList.remove('active'));
  images.forEach((img) => img.id="nonActive");

  images[currentIndex].classList.add('active');
  images[currentIndex].id="active";

  const gallery = document.querySelector('.gallery');
  if(width>768){
    gallery.style.transform = `translateX(-${(currentIndex) * (images[0].width + 30)}px)`;
  }else{
    gallery.style.transform = `translateX(-${(currentIndex) * (images[0].width)}px)`;
  }
  
}

function moveSlideSmall(direction) {
  const images = document.querySelectorAll('.gallery img');
  const totalImages = images.length;
  
  currentIndex = (currentIndex + direction + totalImages) % totalImages;

  images.forEach((img) => img.classList.remove('active'));
  images.forEach((img) => img.id="nonActive");

  images[currentIndex].classList.add('active');
  images[currentIndex].id="active";

  const gallery = document.querySelector('.gallery');
  gallery.style.transform = `translateX(-${(currentIndex) * (images[0].width)}px)`;
}

</script>

</body>
</html>
