<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>DOMUS</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

 
  <div class="header">
    <div class="title">
      <h1>DOMUS</h1>
    </div>  
  </div>
    
  <div class="nav-bar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/social">Social</a></li>
      <li><a class="active" href="/prenota">Prenota</a></li>
    </ul>
  </div>




</body>
</html>
