<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>DOMUS</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

 
<div class="header">
<div class="title">
    <h1>DOMUS</h1>
</div>  
</div>  
<div class="nav-bar">
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/news">News</a></li>
    <li><a class="active" href="/social">Social</a></li>
    <li><a href="/prenota">Prenota</a></li>
</ul>
</div>

<div class="social-title">
    <h1>Vieni a trovarci su: </h1>
</div>

<div class="social-container">
    <div class="social-content">
        <div class="social-img">
            <a href="https://www.instagram.com/domus_padel/"><img src="/images/insta.png" alt="insta"></a>
        </div>
        <div class="social-text">
            <a href="https://www.instagram.com/domus_padel/">@DOMUS_OFFICIAL</a>
        </div>
    </div>
    <div class="social-content">
        <div class="social-img">
            <a href="https://www.facebook.com/profile.php?id=61558755586974"><img src="/images/facebook.png" alt="facebook"></a>
        </div>
        <div class="social-text">
            <a href="https://www.facebook.com/profile.php?id=61558755586974">@DOMUS_OFFICIAL</a>
        </div>
    </div>
</div>



</body>
</html>
