@import "style.css";

.social-title{
    text-align: center;
  }
  
  .social-container{
    width: 100%;
    padding: 0 10%;
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%; 
    width: 80%;
  }
  
  .social-content{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .social-text{
    margin-top: 4%;
  }
  
  .social-img img{
    height: 20vw;
    width: auto;
  }
  
  .social-text a{
    font-size: 50px;  
    text-decoration: none;
    color: black;
  }
  