
body {
  font-family: Arial, sans-serif;
  margin:0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  background-color: black;
  position: relative;
  height: 100px;
}

.title {
  position: absolute;
  width: 100%;
  text-align: center;
}

.title h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin: 20px;
}

.nav-bar{
  top: 0;
  z-index: 200;
  position: sticky;
  padding: 0 10%;
  background-color: black;
  font-size: 20px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    width: 25%;
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #252424;
    font-weight: bold;
  }

  .active{
    font-weight: bold;
  }
}


.content {
  background-color: white;
  width: 100%;
  position: relative;
}
.image{
  width: 100%;
}

.image img{
  width: 100%;
  height: auto;
}

.table{
  width: 100%;
  padding: 2.5% 7.5%;
  display: grid;
  grid-template-columns: 35% 35%;
  text-align: center;
  column-gap: 15%;
}

.table-box{
  background-color: white;
  box-shadow: 6px 6px 6px gray;
  border-radius: 10px;
}

#idea-title{
  color: black;
}

.idea-text{
  padding: 0 5%;
}


@media (max-width: 768px) {
  .header {
    background-color: aliceblue;
    position: relative;
    height: 100px;
  }
  
  .title {
    position: absolute;
    width: 100%;
    text-align: center;
  }
  
  .title h1 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
  }

  .table{
    width: 100%;
    display: grid;
    grid-template-columns: 80%;
    text-align: center;
    row-gap: 4vw;
  }
}

@media screen and (max-width: 480px) {
  .header {
    background-color: black;
    position: relative;
    height: 100px;
  }
  
  .title {
    position: absolute;
    width: 100%;
    text-align: center;
  }
  
  .title h1 {
    font-size: 60px;
    font-weight: bold;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
  }

  .table{
    width: 100%;
    display: grid;
    grid-template-columns: 80%;
    text-align: center;
    row-gap: 4vw;
  }

}

